*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: $font-title;
    font-weight: $w-600;
    color: $text-primary;

    @include mobile {
        font-size: $font-title / 2;
        margin-bottom: $spacer * 3;
    }
}

h3 {
    font-size: $font-l;
    font-weight: $w-600;
    color: $text-primary;
}