*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;

    @include mobile {
        padding: 0 14px;
    }
}

//背景顏色
.bg-primary {
    background-color: $bg-primary;
}

.bg-secondary {
    background-color: $bg-secondary;
}

// 文字顏色
.text-primary {
    color: $text-primary;
}

.text-light {
    color: $text-light;
}

.text-dark {
    color: $text-dark;
}

// 間距
.mb-1 {
    margin-bottom: $spacer;
}

.mb-2 {
    margin-bottom: $spacer*2;
}

.mb-3 {
    margin-bottom: $spacer*3;
}

.mb-4 {
    margin-bottom: $spacer*4;
}

.mb-5 {
    margin-bottom: $spacer*5;
}

// 也許是 index 專用？
.p-section {
    padding: 80px 0;

    @include mobile {
        padding: 40px 0;
    }
}

// 文字對齊
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

//flex
.d-flex{
    display: flex;
}

.fxdc{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.jcsb{
    justify-content: space-between;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

h2 {
    font-size: $font-title;
    font-weight: $w-600;
    color: $text-primary;

    @include mobile {
        font-size: $font-title / 2;
        margin-bottom: $spacer * 3;
    }
}

h3 {
    font-size: $font-l;
    font-weight: $w-600;
    color: $text-primary;
}