/* banner */
.banner {
    height: 787px;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
    @include background-img;

    @include mobile {
        height: 396px;
    }

    .container {
        height: 100%;
        align-items: flex-end;

        @include mobile {
            height: 396px;
        }
    }

    h2 {
        font-size: $font-subtitle;

        @include mobile {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    h3 {
        font-size: 64px;

        @include mobile {
            font-size: $font-l;
        }
    }

    a {
        padding: 6px 12px;

        @include mobile {
            font-size: $font-l;
        }

        &:hover {
            background-color: $text-primary;
        }
    }
}

/* 用專業的心，做專業的事  */
.profession {
    ul {
        gap: 24px;

        li {
            width: 23%;

            @include mobile {
                width: 100%;
                margin-bottom: $spacer*3;

                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }

            img {
                width: 83px;
                height: 83px;

                @include mobile {
                    width: 100px;
                    height: 100px;
                    margin-bottom: $spacer*2;
                }
            }
        }
    }
}

/* 經典系列鏡框  */
.classic {

    ul {
        gap: 24px;

        @include mobile {
            justify-content: center;
            gap: 0;

            li {
                margin-bottom: $spacer*3;

                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }
        }

        img {
            width: 416px;
            height: 416px;
        }

        h3 {
            color: $bg-primary;
            font-size: $font-title;
            font-weight: $w-900;
            font-style: italic;
        }
    }
}

/* 聯名設計鏡框 */
.collaboration {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
    @include background-img;

    ul {
        li {
            width: 50%;
            @include mobile {
                width: 100%;
                &:nth-child(1){
                    margin-bottom: $spacer*3;
                }
            }
        }

        h3 {
            padding: 8px 0;
            font-size: $font-title;
            font-weight: $w-900;
            font-style: italic;
            color: $bg-primary;
            background-color: $text-light;
        }
    }
}

/* 顧客推薦 */
.recommendation {

    ul {
        gap: 24px;

        @include mobile {
            gap: 16px;
        }

        li {
            width: 23%;
            box-shadow: 0px 2px 6px #00000029;
            border-radius: 4px;

            @include mobile {
                width: 100%;
            }
        }
    }

    .comment {
        padding: 16px;
        height: 205px;
    }

    .name {
        font-weight: $w-500;
    }

    time {
        font-size: 14px;
        color: #707070;
    }
}

/* 聯絡我們 */
.form {

    .form-container {
        max-width: 636px;
        margin: 0 auto;

        @include mobile {
            padding: 0 14px;
        }

        p {
            font-size: $font-l;

            @include mobile {
                font-size: 16px;
            }
        }

        label {
            display: block;
        }

        .input {
            width: 100%;
            background-color: transparent;
            border: 1px solid #000;
            padding: 6px 12px;
            height: 36px;
        }

        textarea {
            width: 100%;
            background-color: transparent;
            border: 1px solid #000;
            padding: 6px 12px;
            height: 136px;
            resize: none;
        }

        .check {
            @include mobile {
                display: flex;
                margin-bottom: $spacer*3;
            }

            #check {
                margin-right: $spacer / 2;
            }

            .check-txt {
                display: inline;
            }
        }


        .btn {
            width: 416px;
            padding: 16px 0;
            margin: 0 auto;

            @include mobile {
                width: 100%;
            }

            &:hover {
                background-color: $text-primary;
            }
        }
    }
}