@mixin mobile {
    @media(max-width:767px) {
        @content
    }
};

// 圖片取代文字
@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

//背景圖片設定
@mixin background-img {
    background-size: cover;
    background-position: center center;
}