.category {
    font-size: 32px;
    font-weight: $w-500;

    @include mobile {
        font-size: 16px;
    }

    li {
        padding-top: 24px;
        padding-bottom: 24px;
        width: 33%;
        border-left: 1px solid #DCDCDC;

        @include mobile {
            width: 100%;
            padding: 16px 0;
        }

        &:nth-child(2) {
            padding-bottom: 16px;
            border-bottom: 8px solid $bg-primary;

            @include mobile {
                padding-bottom: 8px;
            }
        }

        &:nth-child(3) {
            border-right: 1px solid #DCDCDC;
        }
    }

    a:hover {
        font-weight: $w-600;
    }
}

.product-header {
    .header-1 {
        width: 960px;
        height: 296px;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true");
        @include background-img;

        @include mobile {
            height: 136px;
            background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-3.png");
        }
    }

    .header-2 {
        width: 960px;
        height: 296px;
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-4.png");
        @include background-img;

        @include mobile {
            height: 136px;
            background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-4.png");
        }
    }
}

.products {
    h2 {
        font-size: 42px;

        @include mobile {
            font-size: $font-l;
        }
    }

    h3 {
        font-size: 32px;

        @include mobile {
            font-size: $font-l;
            margin-bottom: $spacer*3;
        }
    }

    .products-list {
        font-size: $font-l;
        font-weight: $w-500;

        @include mobile {
            justify-content: center;
        }

        li {
            width: calc((100% - 48px) / 3);
            margin-bottom: $spacer*10;

            @include mobile {
                width: 90%;
                margin-bottom: $spacer*3;

                &:nth-child(6) {
                    margin-bottom: $spacer*8;
                }
            }

            h4:hover {
                font-weight: $w-600;
            }

            p {
                color: $bg-primary;

                &:hover {
                    font-weight: $w-600;
                }
            }
        }

        a:hover {
            opacity: 0.8;
        }
    }

    .colorboxes {
        .box {
            width: 24px;
            height: 24px;
            background-color: #5F3E2D;
            border-radius: 4px;
            margin-right: $spacer;

            &:nth-child(2) {
                background-color: #B75929;
            }
        }
    }

    .pagination {
        li {
            font-size: $font-s;
            border: 1px solid #555555;

            &:nth-child(3) {
                color: $text-light;
                background-color: $text-dark;
            }

            &:nth-child(7) {
                background-color: #F2F2F2;
            }

            &:hover {
                color: $text-light;
                background-color: $text-dark;
            }

            a {
                padding: 12px 16px;
            }
        }

        @include mobile {
            margin-bottom: $spacer*3;
        }
    }
}