// 測試
$color: #ffd900;

// 背景顏色
$bg-primary: #AA0601;
$bg-secondary: #FBF2F2;

// 文字顏色
$text-primary: #650300;
$text-light: #fff;
$text-dark: #000;

//字體大小
$font-title: 48px;
$font-subtitle: 36px;
$font-l: 24px;
$font-m: 20px;
$font-s: 18px;

// 字重
$w-900: 900;
$w-600: 600;
$w-500: 500;

// 間距
$spacer: 8px;